flask

#to create forms for main tables
Flask-WTF

#to validate emails in flask-wtf
email_validator

#for qr-code generation
Flask-QRcode

#for testing
pytest

#for the server
wheel
gunicorn # not for windows
#waitress # for windows