<!DOCTYPE html>
<html>
<head>
    <title>User form</title>
</head>
<body>
    <h1>User form</h1>
     <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }}</p>
        <p>{{ form.name() }}</p>
        <p>{{ form.password.label }}</p>
        <p>{{ form.password() }}</p>
        <p>{{ form.email.label }}</p>
        <p>{{ form.email(size=40) }}</p>
        <p>{{ form.subscribe() }} {{ form.subscribe.label }}</p>
        <p>{{ form.gender.label }}</p>
        <p>
            {{ form.gender(class="radio-inline") }}
            {{ form.gender.label(class="radio-inline") }}
        </p> 
        <p>{{ form.country() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
